<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.latin.continuoussr" version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  
  <name>ContinuousSpeechRecognizer</name>
  <description>Continuously recognizes speech input</description>
  <license>Apache 2.0</license>
  
  <js-module src="www/continuoussr.js" name="continuoussr">
    <clobbers target="continuoussr" /> 
  </js-module>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ContinuousSpeechRecognizer" >
        <param name="android-package" value="com.latin.continuoussr.ContinuousSpeechRecognizer"/>
      </feature>
    </config-file>
    
    <source-file src="src/android/ContinuousSpeechRecognizer.java" target-dir="src/org/apache/cordova/continuoussr" />
    <source-file src="src/android/LanguageDetailsChecker.java" target-dir="src/org/apache/cordova/continuoussr" />
    
  </platform>
  
</plugin>
